*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.firstlevel {
    display: flex;
    gap: 40px;
}
.UI {
    display: flex;
    gap: 40px;
}
.sideBox {
    display: flex;
    flex-direction: column;
}
.all_checkbox_radiobox {
    display:flex;
    flex-direction: column;
    
    gap:10px;
}
.pixel {
display: flex;
justify-content: flex-start;
gap: 40px;
}
.pixel__label {
   display: flex;
   flex-direction: column;
}
.btn {
    padding: 10px;
    margin-top: 35px;
    margin-bottom: 10px;
    border-radius: 10px;

}